<div class="site-sidebar" id="site-sidebar">
    <div class="site-bio">
        <div class="about-me clearfix">
            <div class="avatar">
                <img src="<%= url_for('/images/avatar.jpg') %>">
            </div>
            <div class="info">
                <a class="name dark-btn" href="<%= url_for('/about') %>"><%= theme.author %></a>
            </div>
            <div class="info">
                <span class="item desc"><%= theme.description %></span>
            </div>
        </div>
        <div class="menu section">
            <ul class="clearfix">
                <% var count = 0; %>
                <% theme.navigation.forEach(function(value) {
                if (value.url && value.slug && value.name) { %>
                    <% if (count % 2 == 0) { %>
                        <li class="left">
                    <% } else { %>
                        <li class="right">
                    <% } %>
                        <% if (value.external) { %>
                            <a href="<%= value.url %>" onfocus="this.blur()" class="nav-<%= value.slug %>  dark-btn block">
                                <%= value.name %>
                        <% } else { %>
                            <a href="<%= url_for(value.url) %>" onfocus="this.blur()" class="nav-<%= value.slug %>  dark-btn block">
                                <%= value.name %>
                        <% } %>
                            </a>
                        </li>
                <% count ++; %>
                <% } }); %>

                <% site.categories.forEach(function(value) { %>
                    <% if (count % 2 == 0) { %>
                        <li class="left">
                    <% } else { %>
                        <li class="right">
                    <% } %>
                            <a href="<%= url_for('/categories/' + value.name) %>" onfocus="this.blur()" class="nav-<%= value.slug %>  dark-btn block">
                                <%= value.name %>
                            </a>
                        </li>
                <% count ++; %>
                <% }); %>
            </ul>
        </div>
    </div>
</div>